*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #eee;
}

nav {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	ul {
		list-style: none;
		display: none;
		li {
			display: inline;
			margin-left: 1rem;
			color: #eee;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}

.menu-icon {
	font-size: 1.2rem;
	padding: 0 0.2em;
}

/* media queries for large devices */
@media (min-width: 768px) {
	.menu-icon {
		display: none;
	}
	nav {
		ul {
			display: block;
		}
	}
}

/* utility classes */
ul.menu-open {
	display: block;
	li {
		display: block;
	}
}
